<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>Ajout validé</title>
    </head>

    <style>
        form{
            text-align: center;
        }
    </style>

    <body>
        <h2 style="text-align:center;">Votre compte a bien été ajouté.</h2>
        <h2 style="text-align:center;">Félicitations !</h2>
        <br>
        <form action="?page=/" method = "post">
            <button class="btn waves-effect waves-light center" type="submit" name="action">Aller sur la page suivante</button>
        </form>
    </body>

</html>
