<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    .btn-rounded {
      border-radius: 20px;
    }
	nav{
		background-color: #2E2E2E;
	}

	.page-footer{
		background-color: #2E2E2E;
	}

	nav ul li a {
      text-decoration: none;
    }
	
    a {
      text-decoration: none;
      color: inherit;
    }
  </style>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <div class="center">
        <a href="?page=/" class="brand-logo">Gogitfy</a>
      </div>
      <div class="left">
        <div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			  <i class="material-icons">menu</i>
			</a>
			<ul class="dropdown-menu">
			  <li>  <form method="post" action="?page=addClient">
				<div>
				  <input type="submit" value="Ajouter un client" name="AjouterUnClient">
				</div>
			  </form></li>
			</ul>
		  </div>
      </div>
	  <div class="right">
		<a href="?page=addClient"><i class="material-icons">login</i></a>
    </div>
  </nav>

<div class="container">
	<table>
		<tbody>
			<tr>
				<td>
					<div class="card horizontal">
					  <div class="card-stacked">
						<div class="card-content center">
						  <h2>Searching client IDs</h2>
						</div>
						<div class="card-action center">
							<button class="btn btn-rounded grey text-white">SHOW MORE</button>
						</div>
					  </div>
					</div></td>
				<td>
					<div class="card horizontal">
					  <div class="card-stacked">
						<div class="card-content center">
						  <h2>Order management</h2>
						</div>
						<div class="card-action center">
							<button class="btn btn-rounded grey text-white">SHOW MORE</button>
						</div>
					  </div>
					</div></td>
				<td>
					<div class="card horizontal">
					  <div class="card-stacked">
						<div class="card-content center">
						  <h2>Generate an invoice</h2>
						</div>
						<div class="card-action center">
							<button class="btn btn-rounded grey text-white">SHOW MORE</button>
						</div>
					  </div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="center">
					<img src="../images/kit.png" alt="Kit parfumerie" height="400">
				</td>
				<td class="center">
					<img src="../images/parfum.png" alt="Parfum" height="300">
				</td>
			</tr>
		</tbody>
	</table>
</div>


<footer class="page-footer">
	<div class="footer-copyright">
	  <div class="container">
		<p class="left">© 2023 Copyright All right reserved</p>
		<a class="grey-text text-lighten-4 right" href="?page=contact">Contact</a>
	  </div>
	</div>
  </footer>
</body>
</html>
