<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Gogitfy | Homepage</title>
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <style>
    .btn-rounded {
      border-radius: 20px;
    }
	nav{
		background-color: #2E2E2E;
	}

	.page-footer{
		background-color: #2E2E2E;
	}

	nav ul li a {
      text-decoration: none;
    }
	
    a {
      text-decoration: none;
      color: inherit;
    }

	#back-to-top {
      position: fixed;
      right: 20px;
      bottom: 20px;
      display: none;
    }
  </style>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
        <a href="?page=/" class="brand-logo center">Gogitfy</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li>
			  <a class="dropdown-trigger" href="#" data-target="dropdown1"><i class="material-icons right">menu</i></a>
			  <!-- Dropdown Structure -->
			  <ul id="dropdown1" class="dropdown-content center">
				<li><a href="?page=/">Home</a></li>
				<li><a href="?page=addClient">Add a client</a></li>
				<li><a href="?page=listCommande">List order</a></li>
			  </ul>
			</li>
		  </ul>
		<a href="?page=addClient" class="right"><i class="material-icons">login</i></a>
  </nav>

    <!-- Initialisation du dropdown -->
	<script>
		document.addEventListener('DOMContentLoaded', function() {
		  var dropdowns = document.querySelectorAll('.dropdown-trigger');
		  var instances = M.Dropdown.init(dropdowns);
		});

		document.addEventListener('DOMContentLoaded', function() {
		var backToTopBtn = document.querySelector('#back-to-top');

		window.addEventListener('scroll', function() {
			if (window.pageYOffset > 100) {
			backToTopBtn.style.display = 'block';
			} else {
			backToTopBtn.style.display = 'none';
			}
		});

		backToTopBtn.addEventListener('click', function(e) {
			e.preventDefault();
			window.scrollTo({ top: 0, behavior: 'smooth' });
		});
		});
	  </script>

<div class="container">
	<table>
		<tbody>
			<tr>
				<td>
					<div class="card horizontal">
					  <div class="card-stacked">
						<div class="card-content center">
						  <h3>Searching client IDs</h3>
						</div>
						<div class="card-action center">
							<button class="btn btn-rounded grey text-white">SHOW MORE</button>
						</div>
					  </div>
					</div></td>
				<td>
					<div class="card horizontal">
					  <div class="card-stacked">
						<div class="card-content center">
						  <h3>Order management</h3>
						</div>
						<div class="card-action center">
							<button class="btn btn-rounded grey text-white">SHOW MORE</button>
						</div>
					  </div>
					</div></td>
				<td>
					<div class="card horizontal">
					  <div class="card-stacked">
						<div class="card-content center">
						  <h3>Generate an invoice</h3>
						</div>
						<div class="card-action center">
							<button class="btn btn-rounded grey text-white">SHOW MORE</button>
						</div>
					  </div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="center">
					<img src="../images/kit.png" alt="Kit parfumerie" height="300"><br>
					<span><i>Le dernier kit de parfumerie d'Enuca.</i></span>
				</td>
				<td class="center">
					<img src="../images/parfum.png" alt="Parfum" height="300"><br>
					<span><i>Le parfum le plus populaire du moment : Jasmin Noir l'essence.</i></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>


<footer class="page-footer">
	<div class="footer-copyright">
	  <div class="container">
		<p class="left">© 2023 Copyright All right reserved</p>
		<a class="grey-text text-lighten-4 right" href="?page=contact">Contact</a>
	  </div>
	</div>
  </footer>
</body>
</html>
